body {
	background-image: url('../images/landing-page-background.png');
	background-size: auto;
	background-repeat: no-repeat;
}

.form-control {
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 15%;
}

.contact-container {
	margin-left: 0px;
}

.contact-container h2 {
	color: #FFD32B;
	padding-top: 100px;
	padding-bottom: 25px;
}

@media (max-width: 767px) {
	.contact-container h2 {
	color: white;
	padding-top: 100px;
	padding-bottom: 25px;
}
}

.submit {
	background-color: #FFD32B;
	color: #82C0EC;
	margin-top: 20px;
	font-weight: bold;
	text-shadow: -1px 1px 1.5px black, 1px -1px 1.5px black;
	font-size: 1.5rem;
}